.main-second {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__container {
        aspect-ratio: 1/1;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    &__option-palece {
        width: 70%;
        height: 70%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--big {
            width: 80%;
            height: 80%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    h2 {
        color: $white-text;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 30px;
    }
}
