// Colors
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$white-text: #ffffff;

$scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);

$background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

//Break-points
$medium: 950px;
